<div class="container">


<p>
    <a class="btn"  (click)="onClickEsprit()">ESPRIT</a>&nbsp; &nbsp;&nbsp; &nbsp;
    <a class="btn" (click)="onClickFormations()">Formation</a>
</p>
<app-esprit *ngIf="affEsprit">

</app-esprit>
<app-formations *ngIf="affFormation">

</app-formations>
<!--<router-outlet>-->

<!--</router-outlet>-->
</div>
