
<div class="container">

<div class="col-lg-4 center-block">

<fieldset>
    <legend>
        Créer un fiche Module
    </legend>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="ref">reference</label>
            <input formControlName="ref" id="ref" type="" class="form-control">
            <div *ngIf="form.get('ref').touched && !ref.valid">  required</div>
        </div>
        <div class="form-group">
            <label for="mod">Module</label>
            <input formControlName="mod" id="mod" type="number" class="form-control">
            <div *ngIf="form.get('mod').touched && !mod.valid"> Module required</div>
        </div>
        <div class="form-group">
            <label for="cof">Coefficient</label>
            <input formControlName="cof" id="cof" type="number" class="form-control">
            <div *ngIf="form.get('cof').touched && !cof.valid"> Coefficient required</div>
        </div>
        <div class="form-group">
            <label for="nbh">Nbr Heurs</label>
            <input formControlName="nbh" id="nbh" type="number" class="form-control">
            <div *ngIf="form.get('nbh').touched && !nbh.valid"> Nbr Heurs required</div>
        </div>
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</fieldset>

</div>
</div>
